# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [30]:
nums

[1, 2, 3, 4]

In [1]:
nums=[1,2,3,4]
print(nums)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [26]:
# Method 1 
x=[1,2,3,4]
x.remove(3)
print(x)

[1, 2, 4]

In [25]:
# Method 2
x= [1, 2, 3, 4]
x.pop(2)
print(x)

[1, 2, 4]

In [24]:
# Method 3
x= [1, 2, 3, 4]
del x[2]
print(x)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [27]:
lst = [2, 3, 4]
lst.insert(0, 1)
print(lst)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [32]:
lst1= [1,2, 3, 4]
lst1.insert(2, 'two-and-half')
print(lst1)

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [11]:
phrase = "Don't panic!"
x=list(phrase)
print(x)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [35]:
characters = ['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']
z = [char for char in characters if char.isalnum() or char.isspace()]
print(z)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [38]:
z=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
y = [char for char in z if char not in ["p", "a", "n", "D"]]
y.extend(["p", "a", "n", "D"])
print(y)

['o', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [39]:
lst = ['p', 'a', 'n', 'D', 'a']
x= "".join(lst)
print(x)

panDa

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [46]:
nums=(31,24,35,85)
print(f'datatype ',type(nums))
print(nums)

datatype  <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [47]:
nums = (31, 24, 35, 85)
lst = list(nums)
lst.remove(35)
nums = tuple(lst)
print(nums)

(31, 24, 85)

**Extent** tuple (85,19)

In [48]:
x = (31, 24, 85)
y = (85, 19)
nums = x + y
print(nums)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [49]:
tpl = ('i', 'n', 'n', '0')
x = 'i' in tpl
print(x)

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [52]:
lst = ['Hello', 100, [], 'innomatics']
lst[2] = [200]
print(lst)

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [6]:
# CODE HERE
tpl = ("Innomatics")

In [61]:
tpl = ("Innomatics")
x= tuple(reversed(tpl))
print(x)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [62]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

In [60]:
tpl = (1, 2, 3) + (4,)
x = tuple(reversed(tpl))
print(x)

(4, 3, 2, 1)

   **`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [64]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
x = []
for t in tpl:
    lst = list(t)
    lst.append(100)
    t = tuple(lst)
    x.append(t)
print(x)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [67]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
x= []
for t in tpl:
    lst = list(t)
    lst[-1] = 100
    t = tuple(lst)
    x.append(t)
print(x)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [2]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

In [75]:
s = '5 2 3 6 6 5'
lst = s.split()
lst = [int(x) for x in lst]
lst = sorted(lst, reverse=True)
max_value = lst[0]
second_highest = None
for x in lst:
    if x != max_value:
        second_highest = x
        break
print('second highest is : ',second_highest)

second highest is :  5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [3]:
# CODE HERE

[24, 35, 70, 155]

In [71]:
lst = [12, 24, 35, 70, 88, 120, 155]
z= [x for i, x in enumerate(lst) if i not in (0, 4, 5)]
print(z)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [73]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(tup[:5],tup[5:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

(2, 4, 6, 8, 10)

In [74]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
evenlst = [x for x in tup if x % 2 == 0]
eventup = tuple(evenlst)
print(eventup)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

* A list and a tuple are both data structures in Python that can store multiple values in a specific order.
## List 
* A list is mutable, which means it can be changed or modified after it is created.
* A list is surrounded by square brackets [] when it is defined
* list = [1,2,3]
## Tuple
* A tuple is immutable, which means it cannot be changed or modified after it is created.
* A tuple is surrounded by parentheses () when it is defined. 
* tup = (1, 2, 3)

### 2. Explain the difference between append() and extend() with examples

In [ ]:
# Solution

* The difference between append() and extend() is that append() adds a single element to the end of a list, while extend() adds multiple elements from another iterable to the end of a list.

In [76]:
#append 
lst = [1, 2, 3]
lst.append(4)
print(lst)

[1, 2, 3, 4]

In [78]:
#extend
lst = [1, 2, 3]
lst.extend([5, 6, 7])
print(lst)

[1, 2, 3, 5, 6, 7]

### 3. Explain the difference between pop() and remove() with examples

* The difference between pop() and remove() is that pop() deletes an element from a list by its index and return value , while remove() deletes an element from a list by its value
* Another difference is that pop() can be used without an argument, in which case it deletes and returns the last element of the list. However, remove() requires an argument, otherwise it will raise an error.

In [79]:
#pop
lst = [1, 2, 3, 4, 5]
element = lst.pop(2)
print(element)
print(lst)

3
[1, 2, 4, 5]

In [80]:
#remove
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)